.autoresize{
    max-width:100%;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.center{
    text-align: center;
}
.infobutton{
    top: 3px;
    right: -20px;
    position: fixed;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}

#intro {
    background-image: url(../img/swinggift_logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    width: 100%;
    padding-bottom: 80%;
    margin-top: 10%;
}

.introText {
    margin-top: 0%;
    text-align: center;
    font-weight: bold;
}

.wrapper         {
    width:80%;height:100%;margin:0 auto;background:#CCC
}

.h_iframe        {
    position:relative;
}

.h_iframe .ratio {
    display:block;
    width:100%;
    height:auto;
}
.h_iframe iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.wrap {
    overflow: hidden;
    margin: 10px;
}
.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}
.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}
.boxInner img {
    width: 100%;
}

.fixedButton {
    z-index:999;
    position: fixed;
    top:45%;
    padding: 5px 10px;
    right: -24px;
    cursor: pointer;
    border: none;
    background: #666666;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 1px #6B5645;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6B5645), to(#513E2F));
    background-image: -webkit-linear-gradient(#666666, #513E2F);
    background-image: -moz-linear-gradient(#666666, #513E2F);
    background-image: -ms-linear-gradient(#666666, #513E2F);
    background-image: -o-linear-gradient(#666666, #513E2F);
    background-image: linear-gradient(#666666, #513E2F);
    -moz-border-radius-topleft: .6em;
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em;

    -moz-border-radius-topright: .6em;
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em;

    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    box-shadow: 0 0 12px rgba(0, 0, 0, .6);

    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
}

@media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .box {
        width: 25%;
        padding-bottom: 25%;
    }
}

@media screen and (orientation: landscape) {
    .box {
        width: 12.5%;
        padding-bottom: 12.5%;
    }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}